.article-title {
    font-size: 12px;
    margin-bottom: 5px;
}
.green-text {
    color: #22CF5E;
}

.sign-header {
    text-align: center;
    margin-bottom: 15px;
}

.hero-container {
    text-align: center;
    padding: 2rem 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.tag-title {
    width: 100%;
    margin: 5px auto;
}
.article-link {
    color: black;
}